a.external:after {
  content: "" url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
  padding-left: 5px;
}

.amazon-product {
  padding: 10px;
  text-align: center;
  border: 2px solid silver;
  border-radius: 3px;
  margin-bottom: 1em;
}

.amazon-product p {
  margin-bottom: 0;
}

/* First image right after the TOC is the header image. */
.toc+p > img:only-child {
  width: 100%;
}

#gollum-editor {
  border: none;
  background: none;
  padding: 0;
}

#wiki-body > .markdown-body {
  padding: 0;
}

#sidebar-content {
  padding: 5px 10px;
}

#sidebar-content ul {
  margin: 0;
  padding: 0 0 0px 10px;
}

#head h1 {
  float: none;
}

#head ul.actions {
  display: block;
  float: none;
  margin: 10px 0 0 -0.5em;
}

#wiki-footer {
  overflow: hidden;
  margin: 20px 0;
}

.has-sidebar #wiki-footer {
  width: auto;
}

#wiki-footer #footer-content {
  background-color: inherit;
  border: none;
  border-top: 1px solid #ddd;
  padding: 1em;
  display: block;
  border-radius: 0 !important;
}

p:empty {
  display: none;
}

#head h1:after {
  content: 'This wiki is a work in progress, if you are excited about the hobby, please help make it better!';
  display: block;
  background: red;
  color: white;
  padding: .5em 1em;
  margin: 1em 0;
  font-size: 1.9rem;
}

