a[href^=http]:after {
  content: "" url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
  padding-left: 5px;
}

#gollum-editor {
  border: none;
  background: none;
  padding: 0;
}

#wiki-body > .markdown-body {
  padding: 0;
}

#sidebar-content {
  padding: 5px 10px;
}

#sidebar-content ul {
  margin: 0;
  padding: 0 0 0px 10px;
}

#head h1 {
  float: none;
}

#head ul.actions {
  display: block;
  float: none;
  margin: 10px 0 0 -0.5em;
}

#wiki-footer {
  overflow: hidden;
  margin: 20px 0;
}

.has-sidebar #wiki-footer {
  width: auto;
}

#wiki-footer #footer-content {
  background-color: inherit;
  border: none;
  border-top: 1px solid #ddd;
  padding: 1em;
  display: block;
  border-radius: 0 !important;
}

p:empty {
  display: none;
}
