#gollum-editor {
  border: none;
  background: none;
  padding: 0;
}

#wiki-body > .markdown-body {
  padding: 0;
}

#sidebar-content {
  padding: 5px 10px;
}

#sidebar-content ul {
  margin: 0;
  padding: 0 0 0px 10px;
}

